<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GZRUBY Rubygems Proxy/Mirror</title>
        <style type="text/css">
            body { background: #B9E1E7; font-size: 130%; color: #033; font-family: sans-serif; }
            pre { background: #111; color: #fff; padding: 10px; border-radius: 5px; }
            a { color: #033; }
            h2 { margin-bottom: 0; }
            h2 + p { margin-top: 0; }
            #page { width: 600px; margin: 0 auto; padding: 25px; }
            .versions li { display: inline; }
            .versions li:after { content: ","; }
            .versions li:last-of-type:after { content: ""; }
            .versions { display: inline; margin: 0; padding: 0; opacity: .5; }
            .versions:before { content: "("; }
            .versions:after { content: ")"; }
            .gems { font-size: 80%; padding-left: 0; }
        </style>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-3116818-7']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
    </head>

    <body>
        <div id="page">
            <h1>GZRUBY Rubygems</h1>
            <p>This is a mirror for rubygems that should be accessible and faster for anyone in South China. It is provided as an alternative solution for ruby developers in China who may not be able to access the rubygems servers directly without a VPN or proxy.</p>

            <h2>Setup your client</h2>
            <p>Add the following line to your Gemfile:</p>
            <pre><code>source "<%= server_url %>"</code></pre>
            <p>And change your <code>~/.gemrc</code> to something like this:</p>
            <pre><code>---
:sources:
- <%= server_url %>
gem: --no-rdoc --no-ri</code></pre>

            <p>
                Want to implement your own mirror? Get the
                one-file Rack app at <a href="http://github.com/akitaonrails/rubygems_proxy">Github</a>.
            </p>
			
			<p>
				This rubygems mirror is maintained by <a href="http://gzruby.org/list">gzruby - the Guangzhou Ruby User's Group.</a><br /><br />
				Sponsored by:
				<a href="http://kudelasb.com"><img src="kudelogo120px.png" alt="Kude Labs" style="width: 80px" align='middle'/></a>
			<p> 


            <h2>Cached gems</h2>
            <p>
                <strong><%= gem_list.size %></strong> gems cached so far!
            </p>
            <ul class="gems">
                <% gems = grouped_gems; names = gems.keys.sort %>
                <% names.each do |name| %>
                    <li>
                        <a href="<%= rubygems_url(name) %>"><%= name %></a>

                        <ul class="versions">
                            <% gems[name].sort.each do |version| %>
                                <li>
                                    <a href="<%= gem_url(name, version) %>"><%= version %></a>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>

        <a href="http://github.com/akitaonrails/rubygems_proxy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
    </body>
</html>
