<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rubygems Proxy</title>
    <style type="text/css">
      body { background: #B9E1E7; font-size: 100%; color: #033; font-family: sans-serif; }
      pre { background: #111; color: #fff; padding: 10px; border-radius: 5px; font-size: 110%}
      a { color: #033; }
      h2 { margin-bottom: 0.5em; }
      h2 + p { margin-top: 0; }
      #page { width: 740px; margin: 0 auto; padding: 25px; }
      .versions li { display: inline; }
      .versions li:after { content: ","; }
      .versions li:last-of-type:after { content: ""; }
      .versions { display: inline; margin: 0; padding: 0; opacity: .5; }
      .versions:before { content: "("; }
      .versions:after { content: ")"; }
			.cache {float: left; width: 48% }
      .gems { font-size: 80%; padding-left: 0; }
      .about { float:right; width: 50%; font-size:80%; border-top: 1px solid #888;}
    </style>
  </head>
  <body>
    <div id="page">
      <h1>Rubygems Proxy</h1>
      <p>
				This is a proxy/mirror for <a href="http://rubygems.org">http://rubygems.org</a>. It is provided as an alternative solution for ruby developers in case rubygems.org is not accessible, down or you always want to have your often used gems locally stored to reduce traffic or cache older versions. <strong>This proxy/mirror will cache the gemspecs for 1 day by default.</strong>
			</p>
      <h2>Setup as a transparent proxy/mirror without modifying the clients (recommended)</h2>
      <p>
        On your local DNS Server, Firewall, Bind or even /etc/hosts file, add
      </p>
        <pre><code><%= server_ip %> rubygems.org</code></pre>
      <p>
        that your clients will now ask the proxy/mirror for gems instead of the "real" rubygems.org site. The proxy
        will transparently get the gems, when they are not in the cache through the IP of rubygems.org.
      </p>
			<h2>Setup your client by modifying gem sources</h2>
      <p>
				Add the following line to your Gemfile:
			</p>
        <pre><code>source "<%= server_url %>"</code></pre>
      <p>
				And change your <code>~/.gemrc</code> to something like this:
			</p>
        <pre><code>---
:sources:
- <%= server_url %>
gem: --no-rdoc --no-ri</code></pre>
      <p>
			 In windows, this file can be found here: <br />
			 <code>C:\Documents and Settings\All Users\Application Data\gemrc</code> (Win XP)<br />
			 <code>C:\ProgramData\gemrc</code> (Win 7)
      </p>
      <div class="cache">
        <h2>Cached gems</h2>
        <p>
          <strong><%= gem_list.size %></strong> gems cached so far!
        </p>
        <ul class="gems">
          <% gems = grouped_gems; names = gems.keys.sort %>
          <% names.each do |name| %>
            <li>
              <a href="<%= rubygems_url(name) %>"><%= name %></a>
              <ul class="versions">
                <% gems[name].sort.each do |version| %>
					      <li>
                  <a href="<%= gem_url(name, version) %>"><%= version %></a>
                </li>
                <% end %>  
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="about">
        <p>
				  + Many thanks to the <a href="https://github.com/fnando/">original author</a> of <a href="https://github.com/fnando/rubygems_proxy">rubygems_proxy</a>, and the <a href="https://github.com/fnando/rubygems_proxy/network">many contributors</a>.<br />
				  + The full source can be found at github: <a href="http://github.com/martinseenr/rubygems_proxy">Martin Seener rubygems_proxy</a>.
        </p> 
      </div>     
    </div>
    <a href="http://github.com/martinseener/rubygems_proxy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  </body>
</html>